.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}


.pagination{
    margin:  0px auto 50px;
    width: 80%;
}
.pagination button {
    padding: 5px 15px;
    margin-right: 10px;
}

.selected{
    background-color: yellow;
    color: #851310;
    padding: 8px 15px !important;
}